<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Revents.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A8649BBD1F4D28700075F53A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A8649BD11F4D28700075F53A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A8649BDC1F4D28700075F53A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
